<br>
<form class="form-inline">
  <input class="form-control" name="searchInput" placeholder="Search" #searchInput = "ngModel" [(ngModel)]="searchText" style= "width:60%">
  <button class="btn btn-outline-primary" (click)="searchText=''">X</button>
</form>
<br>

<div class="table">
  <table class="table table-sm">
    <thead>
      <th>Title</th>
      <th>Director</th>
      <th>Release Date</th>
      <th>Type</th>
      <th>Action</th>
    </thead>
    <ng-container *ngFor="let movie of movies">
        <tr class="table-dark" *ngIf="title(movie) ||director(movie) ||releaseDate(movie) ||type(movie)" >
          <td>{{movie.title}}</td>
          <td>{{movie.director}}</td>
          <td>{{movie.releaseDate | date: 'dd/MM/yyyy'}}</td>
          <td>{{movie.type}}</td>
          <td>
            <button class="btn btn-outline-info" (click)="movieService.populateForm(movie)">Edit</button>
            <button class="btn btn-outline-danger" (click)="onDelete(movie.$key)">Delete</button>
          </td>
        </tr>
    </ng-container>
  </table>
  <div class="alert alert-danger" *ngIf="showDelete">
    Deleted Successfully.
  </div>
</div>

<div class="row">
  <div class="col-md-5">
    <form [formGroup]="this.movieService.form" (ngSubmit)=onSubmit()>
      <input type="hidden" formControlName="$key">

      <div class="form-group">
        <label>Title</label>
        <input formControlName="title" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.title.errors}" >
        <div class= "invald-feedback" *ngIf = "submitted &&formControls.title.errors" >
          This field is required
        </div>
      </div>

      <div class="form-group">
        <label>Director</label>
        <input formControlName="director" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.director.errors}" >
        <div class="invald-feedback" *ngIf="submitted &&formControls.director.errors">
          This field is required
        </div>
      </div>

      <div class="form-group">
        <label>Release Date</label>
        <input formControlName="releaseDate" type="date" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.releaseDate.errors}" >
        <div class="invald-feedback" *ngIf="submitted &&formControls.releaseDate.errors">
          This field is required
        </div>
      </div>

      <div class="form-group">
        <label>Type</label>
        <input formControlName="type" class="form-control"  [ngClass]="{'is-invalid':submitted && formControls.type.errors}" >
        <div class="invald-feedback" *ngIf="submitted &&formControls.type.errors">
          This field is required
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-info">Submit</button>
      </div>
    </form>
  </div>
  </div>
  <div class="alert alert-success" *ngIf="show">
    Movie Submitted
  </div>
  <div class="col-md-7">
  </div>

