<div class="table">
  <table class="table table-sm">
    <thead>
      <th>Director</th>
      <th>Action</th>
    </thead>
    <br>
    <ng-container *ngFor="let movie of movies">
      <tr class="table-dark">
        <td>{{movie.director}}</td>
        <td>
          <button class="btn btn-outline-info" (click)="movieService.populateForm(movie)">Edit</button>
        </td>
      </tr>
    </ng-container>
  </table>
  <div class="alert alert-danger" *ngIf="showDelete">
    Deleted Successfully.
  </div>

</div>
<div class="row">
  <div class="col-md-5">
    <form [formGroup]="this.movieService.form" (ngSubmit)=onSubmit()>
      <input type="hidden" formControlName="$key">
      <div class="form-group">
        <label>Director</label>
        <input formControlName="director" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.type.errors}">
        <div class="invald-feedback" *ngIf="submitted &&formControls.type.errors">
          This field is required
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-info">Submit</button>
      </div>
    </form>
  </div>
</div>
<div class="alert alert-success" *ngIf="show">
  Movie Submitted
</div>
<div class="col-md-7">
</div>

